<br><br><br><br>
<div ng-controller="aclaracionesController">
<div class="container" ng-repeat="data in datos">
	<div class="row">
		<div class="col-md-12" style="position: absolute; left: 15px;">
			<h1 style="text-align: center;"><img src="img/seleccionar.png"></h1>
		</div>	
	</div>
	<div class="row" style="position: absolute; top: 260px;">
		<div class="col-md-3" style="width: 240px;" ng-click="alto_consumo(data.numero)">
			<img src="img/btnaltoconsumo.png">
		</div>
		<div class="col-md-3" style="width: 240px;" ng-click="reconexion(data.numero)">
			<img src="img/btnreconexion.png">
		</div>
		<div class="col-md-3" style="width: 240px;" ng-click="error_lectura(data.numero)">
			<img src="img/btnerror.png">
		</div>
		<div class="col-md-3" style="width: 240px;" ng-click="no_toma_lectura(data.numero)">
			<img src="img/btnnotomalectura.png">
		</div>
	</div>
	<div class="row" style="position: absolute; top: 375px;">
		<div class="col-md-3" style="width: 240px;" ng-click="noentrega(data.numero)">
			<img src="img/btnnoentrega.png">
		</div>
		<div class="col-md-3" style="width: 240px;" ng-click="cambio_tarifa(data.numero)">
			<img src="img/btncambio.png">
		</div>
		<div class="col-md-3" style="width: 240px;" ng-click="solicitud(data.numero)">
			<img src="img/btnsolicitud.png">
		</div>
		<div class="col-md-3" style="width: 240px;" ng-click="otros_tramites(data.numero)">
			<img src="img/btnotros.png">
		</div>
	</div>
	<div style="position: absolute; top: 500px;">
		<a href="#/"><img src="img/btnvolver.png"></a>
	</div>
	<!--<p>{{data.numero}}</p>-->	
</div>
<br>
<div class="container">
	<div class="row">
		<div class="progress" id="cargando">
          	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              Conectando con servidor
 			</div>
		</div>		
	</div>
</div>
<div class="container">
	<div style="position: absolute; top: 500px;">
		<a href="#/"><img src="img/btnvolver.png"></a>
	</div>	
</div>
</div>