<br><br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-12" style="position: absolute; left: 40px;">
			<h1 style="text-align: center;"><img src="img/bienvenida.png"></h1>
		</div>
	</div>
	<br>
	<div class="row" style="width:1024px; position: absolute; top: 400px; left: 10px;">
		<div class="col-md-4">
			<a href="#/pagos_tramites">
			<br>
				<h1 style="text-align: center;"><img src="img/tramites.png"></h1>
			</a>
		</div>
		<div ng-controller='tramitesController'>
			<div ng-repeat="data in datos">
				<div class="col-md-4" ng-click="pagos(data.numero)">
					<a href="#/">
						<h1 style="text-align: center;"><img src="img/pago.png"></h1>
					</a>
				</div>
			</div>	
		</div>
		<div class="col-md-4">
			<br>
			<a href="#/aclaraciones_otros">
				<h1 style="text-align: center;"><img src="img/aclaraciones.png"></h1>
			</a>
		</div>
	</div>	
</div>