<br><br><br><br><br><br><br><br><br>
<div class="container" ng-repeat="data in datos">
	<div class="row">
		<div class="col-md-12" style="position: absolute; left: 15px;">
			<h1 style="text-align: center;"><img src="img/seleccionar.png"></h1>
		</div>
	</div>
	<div class="row" style="width:800px; position: absolute; left: 140px; top: 270px;">
		<div class="col-md-4" ng-click="pagos(data.id, data.numero)">
			<img src="img/btnpagos.png">
		</div>
		<div class="col-md-4" ng-click="contratos(data.id, data.numero)">
			<img src="img/btncontrato.png">
		</div>
		<div class="col-md-4" ng-click="convenio(data.id, data.numero)">
			<img src="img/btnconvenio.png">
		</div>
	</div>
	<div class="row" style="width:800px; position: absolute; left: 140px; top: 380px;">
		<div class="col-md-4" ng-click="cambio_nombre(data.id, data.numero)">
			<img src="img/btncambiodenombre.png">
		</div>
		<div class="col-md-4" ng-click="carta_adeudo(data.id, data.numero)">
			<img src="img/btncartaadeudo.png">
		</div>
		<div class="col-md-4" ng-click="factibilidad(data.id, data.numero)">
			<img src="img/btnfactibilidad.png">
		</div>
	</div>
	<div style="position: absolute; top: 500px;">
		<a href="#/"><img src="img/btnvolver.png"></a>
	</div>
</div>